.menu-label {
  padding-left: 10px;
}

.top-padding-20 {
  padding-top: 20px;
}

.top-padding-40 {
  padding-top: 40px;
}

.top-margin-20 {
  margin-top: 20px;
}

.top-margin-10 {
  margin-top: 10px;
}

.customers-panel {
  min-width: 200px;
  max-width: 250px;
}

.right-bar {
  padding-top: 0px;
  margin-top: 12px;
}

.left-content-wrapper {
  padding: 10px;
}

.title-text {
  border-bottom: 1px solid #888
}

.spacer-30 {
  padding-left: 30px;
}

.close-tab {
  left: -12px;
  top: -12px;
}

.company-project {
  padding-bottom: 20px;
}

.behe-loading {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.behe-loading div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: #fff;
  animation: behe-loading 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.behe-loading div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}
.behe-loading div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}
.behe-loading div:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}
@keyframes behe-loading {
  0% {
    top: 6px;
    height: 51px;
  }
  50%, 100% {
    top: 19px;
    height: 26px;
  }
}

.select select, .input, .textarea {
  background-color: #073642;
  color: #FFF;
  border: 1px solid #001f27;
}

.select select::-moz-placeholder {
  color: #bfbfbf;
  opacity: 1;
}
.select select:-ms-input-placeholder {
  color: #bfbfbf;
}
.select select::-webkit-input-placeholder {
  color: #bfbfbf;
}

.textarea::-moz-placeholder {
  color: #bfbfbf;
  opacity: 1;
}
.textarea:-ms-input-placeholder {
  color: #bfbfbf;
}
.textarea::-webkit-input-placeholder {
  color: #bfbfbf;
}

.input::-moz-placeholder {
  color: #bfbfbf;
  opacity: 1;
}
.input:-ms-input-placeholder {
  color: #bfbfbf;
}
.input::-webkit-input-placeholder {
  color: #bfbfbf;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #073642; 
}

::-webkit-scrollbar-thumb {
  background: #7bff00; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #073642; 
}

.add-bar {
  max-width: 960px;
}

.task-text {
  height: 100px;
}

.show-hours {
  color: #FFF;
  line-height: 2.5;
  width: 32px;
}

.fancy-list-item {
  padding: 1.25em 1.5em;
}

.strong-alter {
  color: #7bff00 !important;
}

.panel-block.is-active {
  border-left-color: #7bff00;
  background-color: #073642
}

figure.image {
  margin: 0 auto;
}

.user-card {
  padding: 4px;
  display: inline-block;
  text-align: center;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 20px;
  margin-bottom: 10px;
  background: transparent;
  border: none;
}

.project-entry {
  padding: 0.75rem 1.5rem 0.75rem 1.0rem;
  margin-bottom: 0.75rem !important;
}

.left-side {
  min-width: 400px;
  max-width: 800px
}