.menu-label {
  padding-left: 10px;
}

.top-padding-20 {
  padding-top: 20px;
}

.top-padding-40 {
  padding-top: 40px;
}

.top-margin-20 {
  margin-top: 20px;
}

.top-margin-10 {
  margin-top: 10px;
}

.customers-panel {
  min-width: 200px;
  max-width: 250px;
}

.right-bar {
  padding-top: 0px;
  margin-top: 12px;
}

.left-content-wrapper {
  padding: 10px;
}

.title-text {
  border-bottom: 1px solid #888
}

.spacer-30 {
  padding-left: 30px;
}

.close-tab {
  left: -12px;
  top: -12px;
}

.company-project {
  padding-bottom: 20px;
}

.behe-loading {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.behe-loading div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: #fff;
  animation: behe-loading 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.behe-loading div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}
.behe-loading div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}
.behe-loading div:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}
@keyframes behe-loading {
  0% {
    top: 6px;
    height: 51px;
  }
  50%, 100% {
    top: 19px;
    height: 26px;
  }
}

.user-card {
  width: 120px;
  padding: 4px;
  display: inline-block;
}

.select select, .input, .textarea {
  background-color: #073642;
  color: #FFF;
  border: 1px solid #7bff00;
}

.select select::-moz-placeholder {
  color: #bfbfbf;
  opacity: 1;
}
.select select:-ms-input-placeholder {
  color: #bfbfbf;
}
.select select::-webkit-input-placeholder {
  color: #bfbfbf;
}

.textarea::-moz-placeholder {
  color: #bfbfbf;
  opacity: 1;
}
.textarea:-ms-input-placeholder {
  color: #bfbfbf;
}
.textarea::-webkit-input-placeholder {
  color: #bfbfbf;
}

.input::-moz-placeholder {
  color: #bfbfbf;
  opacity: 1;
}
.input:-ms-input-placeholder {
  color: #bfbfbf;
}
.input::-webkit-input-placeholder {
  color: #bfbfbf;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #073642; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7bff00; 
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #073642; 
}

.add-bar {
  max-width: 960px;
}