.menu-label {
  padding-left: 10px;
}

.top-padding-20 {
  padding-top: 20px;
}

.top-padding-40 {
  padding-top: 40px;
}

.top-margin-20 {
  margin-top: 20px;
}

.top-margin-10 {
  margin-top: 10px;
}

.customers-panel {
  min-width: 200px;
  max-width: 250px;
}

.right-bar {
  padding-top: 0px;
  margin-top: 12px;
}

.left-content-wrapper {
  padding: 10px;
}

.title-text {
  border-bottom: 1px solid #888
}

.spacer-30 {
  padding-left: 30px;
}

.close-tab {
  left: -12px;
  top: -12px;
}

.company-project {
  padding-bottom: 20px;
}